# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env_venv/

# Environment variables
.env
.env.local

# Application Data (Do not commit user PDFs or generated JPEGs)
uploads/
output/

# Logs
*.log
logs/

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# rembg cache (where models are downloaded)
.u2net/
